<div class="container fix">
    <div class="row" *ngFor="let book of books">
        <div class="container mt-3">
            <div class="card" style="width:300px">
              <img class="card-img-top" src="https://th.bing.com/th/id/OIP.q2pD2UChbI1_KWD4YpVy7AHaFL?pid=ImgDet&rs=1" alt="Card image" style="width:100%">
              <div class="card-body">
                <h4 class="card-title">{{book.titleOfBook}}</h4>
                <p class="card-text">{{book.description}}</p>
          
                <button class="btn btn-primary" (click) = "viewBookDetails(book.id)">
                  View
                </button>
              </div>
        </div>
    </div>
</div>

