
<div class="container mt-3" >
  <a class="btn btn-primary"  routerLink="create-book"  href="#">Add</a>

<div class="row row-cols-4 g-2 mt-1" >
  <div class="col" *ngFor="let book of books">
    <div class="card">
      <img src="https://assets.codepen.io/6093409/mountains-1.jpg" alt="a snow-capped mountain range"/>
      <div class="card-body">
        <h4 class="card-title">{{book.titleOfBook}}</h4>
        <p class="card-text">{{book.description}}</p>
        <button class="btn btn-primary" (click) = "viewBookDetails(book.id)">
          View
        </button>
      </div>
    </div>
  </div>
  </div>
  
</div>