<div class="container">
    <div class="row" *ngFor="let book of books">
        <div class="container mt-3">
            <div class="card" style="width:400px">
              <img class="card-img-top" src="https://th.bing.com/th/id/OIP.q2pD2UChbI1_KWD4YpVy7AHaFL?pid=ImgDet&rs=1" alt="Card image" style="width:100%">
              <div class="card-body">
                <h4 class="card-title">{{book.titleOfBook}}</h4>
                <p class="card-text">{{book.description}}</p>
                <a href="#" class="btn btn-primary">View</a>
              </div>
        </div>
    </div>
</div>

