<div class="container">
    <a class="btn btn-primary"  routerLink=""  href="#">Back</a>
    <div class="row">
        
        <table class="table table-borderless">
            <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Name of the Book</th>
                  <th scope="col">Author</th>
                  <th scope="col">Gerne</th>
                  <th scope="col">Date Published</th>
                  <th scope="col">Description</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                    <td>{{library.id}}</td>
                  <td>{{library.titleOfBook}}</td>
                  <td>{{library.author}}</td>
                  <td>{{library.genre}}</td>
                  <td>{{library.datePublished}}</td>
                  <td>{{library.description}}</td>
                </tr>
              </tbody>
          </table>
        </div>
</div>